@using Lte.Parameters.Kpi.Entities
@model IEnumerable<TopConnection3GCellView>

<table class="table table-hover" style="font-size:10px">
    <thead>
        <tr>
            <th style="width:30px">@Html.LabelFor(x=>x.ElementAt(0).City)</th>
            <th>@Html.LabelFor(x=>x.ElementAt(0).CdmaCellId)</th>
            <th>@Html.LabelFor(x=>x.ElementAt(0).CdmaName)</th>
            <th>@Html.LabelFor(x=>x.ElementAt(0).LteName)</th>
            <th>@Html.LabelFor(x=>x.ElementAt(0).SectorId)</th>
            <th>@Html.LabelFor(x=>x.ElementAt(0).ConnectionFails)</th>
            <th>@Html.LabelFor(x=>x.ElementAt(0).LinkBusyRate)</th>
            <th>@Html.LabelFor(x=>x.ElementAt(0).ConnectionRate)</th>
            <th>查看信息</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TopConnection3GCellView stat in Model)
        { 
        <tr>
            <td>@stat.City</td>
            <td>@stat.CdmaCellId</td>
            <td>@stat.CdmaName</td>
            <td>@stat.LteName</td>
            <td>@stat.SectorId</td>
            <td>@stat.ConnectionFails</td>
            <td>@String.Format("{0:0.00}", stat.LinkBusyRate)</td>
            <td>@String.Format("{0:0.00}", stat.ConnectionRate * 100)</td>
            <td>
                <button type="button" class="btn btn-primary btn-lg topdetails" 
                        name="detail;@stat.CdmaName;@stat.CdmaCellId;@stat.SectorId">
                    <span class="glyphicon glyphicon-search"></span>历史信息
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
