@model Lte.Evaluations.ViewHelpers.InfrastructureCoverageViewModel

@{
    ViewBag.Title = "校园覆盖专题展示：" + Model.InfrastructureName;
    ViewBag.Info = "——查看该校园有关的LTE和CDMA测试数据地理化显示";
}

@section featured 
{
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Info</h2>
        <div align="right">
            @Html.ActionLink("返回校园网列表","List",null,new{@class="btn btn-primary"})
            @Html.ActionLink("查看校园小区信息","CollegeCells",new{id=Model.InfrastructureId},new{@class="btn btn-primary"})
        </div>
    </hgroup>
}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#coverage-cdma" data-toggle="tab">2/3G覆盖</a></li>
            <li><a href="#coverage-lte" data-toggle="tab">4G覆盖</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="coverage-cdma" class="tab-pane fade in active">
                <div class="btn-group">
                    <input class="btn btn-toolbar" type="button" value="Ec/Io" id="showEcIo"/>
                    <input class="btn btn-toolbar" type="button" value="接收功率" id="showRx"/>
                    <input class="btn btn-toolbar" type="button" value="SINR" id="showSinr"/>
                    <input class="btn btn-toolbar" type="button" value="天线0接收功率" id="showRx0"/>
                    <input class="btn btn-toolbar" type="button" value="天线1接收功率" id="showRx1" />
                    <button id="show-bts" class="btn btn-primary">
                        <span class="glyphicon glyphicon-road"></span>
                        显示CDMA基站
                    </button>
                    <button id="cdma-cell" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plane"></span>
                        显示CDMA小区
                    </button>
                    <button id="cdma-distribution" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plane"></span>
                        显示CDMA室分
                    </button>
                    <button id="resetmap-cdma" class="btn btn-primary show-details">
                        <span class="glyphicon glyphicon-edit"></span>
                        重置地图
                    </button>
                </div>
                <table class="float-right">
                    <tbody>
                        <tr id ="colors-cdma"></tr>
                        <tr id="limits-cdma"></tr>
                    </tbody>
                </table>
                <div id="allmap-cdma" style="width: 100%;height: 600px;overflow: hidden;margin:0;"></div>
            </div>
            <div id="coverage-lte" class="tab-pane fade">
                <div class="btn-group">
                    <input class="btn btn-toolbar" type="button" value="SINR" id="showSinr4G"/>
                    <input class="btn btn-toolbar" type="button" value="RSRP" id="showRsrp"/>
                    <button id="show-enodeb" class="btn btn-primary">
                        <span class="glyphicon glyphicon-road"></span>
                        显示LTE基站
                    </button>
                    <button id="show-cell" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plane"></span>
                        显示LTE小区
                    </button>
                    <button id="lte-distribution" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plane"></span>
                        显示LTE室分
                    </button>
                    <button id="resetmap-lte" class="btn btn-primary show-details">
                        <span class="glyphicon glyphicon-edit"></span>
                        重置地图
                    </button>
                </div>
                <table class="float-right">
                    <tbody>
                        <tr id ="colors-lte"></tr>
                        <tr id="limits-lte"></tr>
                    </tbody>
                </table>
                <div id="allmap-lte" style="width: 100%;height: 600px;overflow: hidden;margin:0;"></div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="longitude" value="@Model.CenterLongtitute" />
<input type="hidden" id="lattitude" value="@Model.CenterLattitute" />

@section css
{
    <link rel="stylesheet" href="~/Content/themes/InfoWindow.css"/>
}

@section scripts
{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <script type="text/javascript" src="~/Scripts/Parameters/MapContainer.js"></script>
    <script type="text/javascript" src="~/Scripts/Parameters/EvaluationMapCanvas.js"></script>
    <script type="text/javascript" src="~/Scripts/Parameters/ExtendOperations.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugins/InfoBox.js"></script>
    <script type="text/javascript">
        var mapLte = new BMap.Map("allmap-lte");
        var lteContainer = new MapContainer(mapLte);
        var lteCanvas = new EvaluationMapCanvas(lteContainer);
        $("#showSinr4G").click(function () {
            lteCanvas.removeMarkers();
            lteCanvas.removeSectors();
            lteDisCanvas.removeMarkers();
            mapLte.clearOverlays();
            var data = [
                { L: -40, H: 0, C: 'ff0000' },
                { L: 0, H: 6, C: '800f0f' },
                { L: 6, H: 12, C: '080880' },
                { L: 12, H: 40, C: '08f008' }
            ];
            for (var i = 0; i < data.length; i++) {
                lteContainer.addDtPoints("/api/Sinr4GPoints/", data[i].L, data[i].H, '#' + data[i].C);
            }
            $("#colors-lte").updateColor(data, "SINR(dB)");
            $("#limits-lte").updateLimit(data);
        });
        $("#showRsrp").click(function () {
            lteCanvas.removeMarkers();
            lteCanvas.removeSectors();
            lteDisCanvas.removeMarkers();
            mapLte.clearOverlays();
            var data = [
                { L: -140, H: -110, C: 'ff0000' },
                { L: -110, H: -100, C: '800f0f' },
                { L: -100, H: -85, C: '080880' },
                { L: -85, H: 0, C: '08f008' }
            ];
            for (var i = 0; i < data.length; i++) {
                lteContainer.addDtPoints("/api/RsrpPoints/", data[i].L, data[i].H, '#' + data[i].C);
            }
            $("#colors-lte").updateColor(data, "RSRP(dBm)");
            $("#limits-lte").updateLimit(data);
        });
        $("#show-enodeb").click(function() {
            lteCanvas.drawENodebMarkers("/api/QueryENodebs");
        });
        $("#show-cell").click(function() {
            lteCanvas.drawQuerySectors("/api/QueryLteSectors");
        });
        var lteDisContainer = new MapContainer(mapLte);
        var lteDisCanvas = new EvaluationMapCanvas(lteDisContainer);
        $("#lte-distribution").click(function() {
            lteDisCanvas.drawDistributionMarkers("/api/QueryLteDistributions");
        });
        $("#resetmap-lte").click(function() {
            lteCanvas.removeMarkers();
            lteCanvas.removeSectors();
            lteDisCanvas.removeMarkers();
        });

        var mapCdma = new BMap.Map("allmap-cdma");
        var cdmaContainer = new MapContainer(mapCdma);
        var cdmaCanvas = new EvaluationMapCanvas(cdmaContainer);
        $("#showEcIo").click(function () {
            cdmaCanvas.removeMarkers();
            cdmaCanvas.removeSectors();
            cdmaDisCanvas.removeMarkers();
            mapCdma.clearOverlays();
            var data = [
                { L: -40, H: -15, C: 'ff0000' },
                { L: -15, H: -12, C: '800f0f' },
                { L: -12, H: -9, C: '080880' },
                { L: -9, H: 0, C: '08f008' }
            ];
            for (var i = 0; i < data.length; i++) {
                cdmaContainer.addDtPoints("/api/EcioPoints/", data[i].L, data[i].H, '#' + data[i].C);
            }
            $("#colors-cdma").updateColor(data, "Ec/Io(dB)");
            $("#limits-cdma").updateLimit(data);
        });
        $("#showRx").click(function () {
            cdmaCanvas.removeMarkers();
            cdmaCanvas.removeSectors();
            cdmaDisCanvas.removeMarkers();
            mapCdma.clearOverlays();
            var data = [
                { L: -120, H: -100, C: 'ff0000' },
                { L: -100, H: -90, C: '800f0f' },
                { L: -90, H: -70, C: '080880' },
                { L: -70, H: 0, C: '08f008' }
            ];
            for (var i = 0; i < data.length; i++) {
                cdmaContainer.addDtPoints("/api/RxPoints/", data[i].L, data[i].H, '#' + data[i].C);
            }
            $("#colors-cdma").updateColor(data, "RxAGC(dBm)");
            $("#limits-cdma").updateLimit(data);
        });
        $("#showSinr").click(function () {
            cdmaCanvas.removeMarkers();
            cdmaCanvas.removeSectors();
            cdmaDisCanvas.removeMarkers();
            mapCdma.clearOverlays();
            var data = [
                { L: -40, H: -3, C: 'ff0000' },
                { L: -3, H: -0, C: '800f0f' },
                { L: 0, H: 6, C: '080880' },
                { L: 6, H: 40, C: '08f008' }
            ];
            for (var i = 0; i < data.length; i++) {
                cdmaContainer.addDtPoints("/api/SinrPoints/", data[i].L, data[i].H, '#' + data[i].C);
            }
            $("#colors-cdma").updateColor(data, "SINR(dB)");
            $("#limits-cdma").updateLimit(data);
        });
        $("#showRx0").click(function () {
            cdmaCanvas.removeMarkers();
            cdmaCanvas.removeSectors();
            cdmaDisCanvas.removeMarkers();
            mapCdma.clearOverlays();
            var data = [
                { L: -120, H: -100, C: 'ff0000' },
                { L: -100, H: -90, C: '800f0f' },
                { L: -90, H: -70, C: '080880' },
                { L: -70, H: 0, C: '08f008' }
            ];
            for (var i = 0; i < data.length; i++) {
                cdmaContainer.addDtPoints("/api/Rx0Points/", data[i].L, data[i].H, '#' + data[i].C);
            }
            $("#colors-cdma").updateColor(data, "RxAGC0(dBm)");
            $("#limits-cdma").updateLimit(data);
        });
        $("#showRx1").click(function () {
            cdmaCanvas.removeMarkers();
            cdmaCanvas.removeSectors();
            cdmaDisCanvas.removeMarkers();
            mapCdma.clearOverlays();
            var data = [
                { L: -120, H: -100, C: 'ff0000' },
                { L: -100, H: -90, C: '800f0f' },
                { L: -90, H: -70, C: '080880' },
                { L: -70, H: 0, C: '08f008' }
            ];
            for (var i = 0; i < data.length; i++) {
                cdmaContainer.addDtPoints("/api/Rx1Points/", data[i].L, data[i].H, '#' + data[i].C);
            }
            $("#colors-cdma").updateColor(data, "RxAGC1(dBm)");
            $("#limits-cdma").updateLimit(data);
        });
        $("#show-bts").click(function() {
            cdmaCanvas.drawBtsMarkers("/api/QueryBtss");
        });
        $("#cdma-cell").click(function() {
            cdmaCanvas.drawQuerySectors("/api/QueryCdmaSectors");
        });
        var cdmaDisContainer = new MapContainer(mapCdma);
        var cdmaDisCanvas = new EvaluationMapCanvas(cdmaDisContainer);
        $("#cdma-distribution").click(function() {
            cdmaDisCanvas.drawDistributionMarkers("/api/QueryCdmaDistributions");
        });
        $("#resetmap-cdma").click(function() {
            cdmaCanvas.removeMarkers();
            cdmaCanvas.removeSectors();
            cdmaDisCanvas.removeMarkers();
        });

        var point = new BMap.Point($("#longitude").val(), $("#lattitude").val());
        mapLte.centerAndZoom(point, 15);
        mapLte.setCurrentCity("佛山");
        mapLte.enableScrollWheelZoom(); //启用滚轮放大缩小
        mapCdma.centerAndZoom(point, 15);
        mapCdma.setCurrentCity("佛山");
        mapCdma.enableScrollWheelZoom(); //启用滚轮放大缩小
    </script>
}